.App {
  text-align: center;
  min-height: calc(100vh - 100px);
  background-color: white;
  color: black;
  margin: 0;
  padding: 50px;
}

button {
  margin: 15px;
  height: 50px;
  width: 50%;
  font-size: 1.4em;
}

h1 {
  font-size: 3em;
}

.app-quote {
  margin: 20px 0;
}

.app-quote span {
  font-size: 2em;
  font-family: 'Reenie Beanie', cursive;
}
